@model AkkaBank.Web.Presentation.Models._BlankModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/3rdParty/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/site/css/site.css" />

    <title>@Model.Title</title>
</head>
<body>
    @RenderBody()

    <script type="text/javascript" src="~/3rdParty/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/3rdParty/popper/popper.min.js"></script>
    <script type="text/javascript" src="~/3rdParty/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
