@model AkkaBank.Web.Presentation.Models._LayoutModel
@{
    Layout = "~/Pages/Templates/_Layout.cshtml";
}

<div class="container">
    <div class="row site-content">
        <div class="col-sm-12 site-left-content">
            @RenderBody()
        </div>
    </div>
</div>