@model AkkaBank.Web.Presentation.Models._LayoutModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/3rdParty/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/site/css/site.css" />

    <title>@Model.CurrentStep.Title</title>
</head>
<body>
    <div class="container site-top-nav-area">
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Jump to...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @foreach (var s in Model.Steps)
                            {
                                <a class="dropdown-item" href="/?step=@Model.Steps.IndexOf(s)">@s.Title</a>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row site-content">
            <div class="col-sm-8 site-left-content">
                @RenderSection("LeftContent")
            </div>
            <div class="col-sm-4 site-right-content">
                <div class="alert alert-secondary" role="alert">
                    @RenderSection("RightContent")
                </div>
            </div>
        </div>

        <nav class="navbar fixed-bottom navbar-expand-lg bg-dark">
            <div class="container">
                <div class="row">
                    @if (Model.PreviousStep != null)
                    {
                        <a class="navbar-brand" href="/?step=@Model.PreviousStep">Previous</a>
                    }

                    @if (Model.NextStep != null)
                    {
                        <a class="navbar-brand" href="/?step=@Model.NextStep">Next</a>
                    }
                </div>
            </div>
        </nav>

    </div>

    <script type="text/javascript" src="~/3rdParty/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/3rdParty/popper/popper.min.js"></script>
    <script type="text/javascript" src="~/3rdParty/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
