@model AkkaBank.Web.Presentation.Models._LayoutModel
@{
    Layout = "~/Pages/Templates/_DoubleColumnLayout.cshtml";
}

@section LeftContent {
    <div class="row">
        <div class="col-6">
            <ul>
                <li>Now we have an ATM actor to handle input and output.</li>
                <li>And we can multiple accounts</li>
                <li>The ATM still has a "Console" actor for handling input and output without blocking.</li>
                <li>The ATM now waits the Bank Actor.</li>
                <li>We explore routers.</li>
                <li>Some of our problems remain.</li>
            </ul>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="~/images/atm-v2/diagram.jpg" class="card-img-top">
                <div class="card-body">
                    <p>The Bank and ATM have a loose relationship. The Bank Actor has a route of Account Managers for handling customer accounts.</p>
                </div>
            </div>
        </div>

    </div>
}

@section RightContent {
    <ul class="list-unstyled">
        <li>
            DEBUG ATM V2
        </li>
        <li>
            VIEW Program.cs
            <ul>
                <li>Has a Bank Actor</li>
                <li>Tells the Bank Actor to create customer accounts</li>
                <li>Has an ATM Actor</li>
                <li>Telling the ATM about the Bank Actor starts everything</li>
            </ul>
        </li>
        <li>
            VIEW BankV1Actor.cs
            <ul>
                <li>ConsistentHashingPool Router</li>
            </ul>
        </li>
        <li>
            VIEW AtmV2Actor.cs
            <ul>
                <li>First waits for a Bank</li>
                <li>Then waits for an Account</li>
            </ul>
        </li>
        <li>
            VIEW ConsoleActor.cs
        </li>
    </ul>
}


