@model AkkaBank.Web.Presentation.Models._LayoutModel
@{
    Layout = "~/Pages/Templates/_DoubleColumnLayout.cshtml";
}

@section LeftContent {
    <p>Enough talk already! - lets cut some code!</p>
    <p>We're going to follow the development of a bank from an extremely primitive bank to a slightly less primitive bank.</p>
    
    <h2>What happened?</h2>

    <div class="row">
        <div class="col-6">
            <ul>
                <li>Console handles input and output and blocks the main thread</li>
                <li>Just one customer - so we don't need identity</li>
                <li>Who cares about security</li>
                <li>Lets hope the power never fails - because we'll loose everything</li>
                <li>That "Exit" option will be a problem</li>
                <li>The actor system is in the main thread</li>
                <li>There is an Account Actor in the actor system.</li>
                <li>Asking the Account Actor blocks the main thread.</li>
            </ul>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="~/images/console-direct/diagram.jpg" class="card-img-top">
                <div class="card-body">
                    <p>Main thread Asks the Account Actor a question.</p>
                </div>
            </div>
        </div>
    </div>
}

@section RightContent {
    <ul class="list-unstyled">
        <li>
            DEBUG ConsoleDirect
        </li>
        <li>
            VIEW Program.cs
            <ul>
                <li>Starting an Actor System</li>
                <li>Creating the Account Actor</li>
                <li>Asking the Account Actor IActorRef</li>
            </ul>
        </li>
        
    </ul>
}


