@model AkkaBank.Web.Presentation.Models._LayoutModel
@{
    Layout = "~/Pages/Templates/_DoubleColumnLayout.cshtml";
}

@section LeftContent {
    <p>Having our entire bank in 1 computer is a bit of an issue and we would really like more than one custer to be able to use an ATM.</p>
    <div class="row">
        <div class="col-6">
            <ul>
                <li>We want to distribute the parts of our system.</li>
                <li>We want more than 1 ATM.</li>
                <li>We want to do some basic administration (later).</li>
                <li>We want to ensure that our system will not start unless key components are present (roles).</li>
                <li>The Singleton concept is a good start Clustering but is not recommended for really good distribution.</li>
                <li>The Bank Actor is now on another node.</li>
                <li>The ATM Actors are now on another nodes.</li>
            </ul>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="~/images/cluster/distributedbank.jpg" class="card-img-top">
                <div class="card-body">
                    <p>The bank is distributed and there will always be 1 Bank Actor somewhere</p>
                </div>
            </div>
        </div>

    </div>
}

@section RightContent {
    <ul class="list-unstyled">
        <li>
            DEBUG Full Cluster
        </li>
        <li>
            VIEW AkkaBank.ConsoleNodeSeed Program.cs
            <ul>
                <li>Starting a cluster on a node</li>
                <li>Using a HOCON string</li>
                <li>Waiting till the Cluster is UP</li>
                <li>Nodes only start when the Cluster is "Complete"</li>
            </ul>
        </li>
        <li>
            VIEW AkkaBank.ConsoleNodeBank1 Program.cs
            <ul>
                <li>The singleton concept</li>
                <li>The Bank Actor is handled by a Cluster Singlton that ensures there will always be 1 Bank Actor somewhere in the cluster.</li>
            </ul>
        </li>
        <li>
            VIEW AkkaBank.ConsoleNodeAtm1 Program.cs
            <ul>
                <li>Using a proxy to the singleton</li>
                <li>Telling the ATM about the bank (proxy) starts the ATM</li>
            </ul>
        </li>
    </ul>
}


