@model AkkaBank.Web.Presentation.Models._LayoutModel
@{
    Layout = "~/Pages/Templates/_DoubleColumnLayout.cshtml";
}

@section LeftContent {
    <p>The "AccountActor" is an example of a simple actor... nothing fancy.</p>
    <h2>AccountActor</h2>

    <ul>
        <li>Extending "ReceiveActor" defines the class as an Actor.</li>
        <li>
            The Actor defines what kinds of messages it can receive in the constructor:
            "When I receive a "WithdrawRequest" message I will handle it with my "HandleWithdrawMoney" method.
        </li>
        <li>When the Actor processes a message it responds to the sender of the message via the "Sender.Tell" method.</li>
        <li>Note that the Actpr has no public methods or properties!!!</li>
    </ul>

    <h2>An Actor System</h2>
    <ul>
        <li>An Actor System is a graph made up of many actors</li>
        <li>An Actor is not directly instantiated - instead the Actor System is given instructions on how create the actor. </li>
    </ul>

    <h2>IActorRef : Everyone's an IActorRef</h2>
    <ul>
        <li>When an Actor is instantiated (or retrieved) from the Actor System it is represented by an IActorRef.</li>
        <li>The IActorRef does not provide any information about the Actors underlying type.</li>
        <li>The IActorRef only provides the means to "Tell" or "Ask" the actor messages.</li>
        <li>The IActorRef can be lost or recreated via various mechanisms but the Actor is never lost.</li>
        <li>The IActorRef is an address to the Actor</li>
    </ul>
}

@section RightContent {
    <ul class="list-unstyled">
        <li>
            AccountActor.cs
            <ul>
                <li>Receiving a message</li>
                <li>Responding to the sender</li>
            </ul>
        </li>
    </ul>
}


