@model AkkaBank.Web.Presentation.Models._LayoutModel
@{
    Layout = "~/Pages/Templates/_SingleColumnLayout.cshtml";
}

<p>Thanks!</p>
<p>The Akka Toolkit has many more componets for distibuting work and controlling flow.</p>