@model AkkaBank.Web.Presentation.Models._LayoutModel
@{    
    Layout = "~/Pages/Templates/_DoubleColumnLayout.cshtml";
}

@section LeftContent {
    <img src="~/images/akkanet.png" width="192" />
    
    <p>A message based concurrent, distributed fault tolerant toolkit</p>

    <h1>Why?</h1>
    <ul>        
        <li>
            Avoids explicit locking and thread management, 
            making it easier to write correct concurrent and parallel systems.
        </li>
        <li>
            Everything in Akka.NET is designed to work in a distributed setting
        </li>
        <li>
            Hiaracheal supervision
        </li>
    </ul>

    <h1>Where did it come from</h1>
    <ul>
        <li>Based on the Java Akka Toolkit</li>
        <li>Inspiration drawn from Erlang</li>
        <li>Several other implementations and approaches</li>
    </ul>

    @*<ul>
        <li>Basic actor system</li>
        <li>Parent Children</li>
        <li>Stashing</li>
        <li>Router</li>
        <li>Hashed Router</li>
        <li>Event Bus</li>
        <li>Supervisor</li>
        <li>Cluster</li>

    </ul>*@
}

@section RightContent {
    <ul>
        <li><a href="https://getakka.net/" target="_blank">https://getakka.net/</a></li>
        <li><a href="https://akka.io/" target="_blank">https://akka.io/</a></li>
    </ul>
}
